
<%if(errors.length){%>
<span id="errorsMsg">
    Corregir errores:<br/>
    <%for(let i in errors){%>
    <span><%= errors[i].message%></span><br/>
    <%}%>
</span>
<%}%>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" name="quiz[pregunta]" id="preg" placeholder="<%=quiz.pregunta%>" value="<%=quiz.pregunta%>"/><br/>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" name="quiz[respuesta]" id="resp" placeholder="<%=quiz.respuesta%>" value="<%=quiz.respuesta%>"/><br/>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>