<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Questions</title>
</head>
<body>
    <h2>Quiz el juego de preguntas</h2>
    <form action="http://localhost:5000/quizes/<%=quiz.id%>/answer" method="GET">
        Pregunta: <%=quiz.pregunta %><p></p>
        <input type="text" name="respuesta" placeholder="Responda aqui">
        <input type="submit" value="Enviar"/>
    </form>
    <p><a href="<%= quiz.id%>/comments/new"><button>Nuevo Comentario</button></a></p>

    <p><strong>Comentarios:</strong></p>
    <%for(index in quiz.Comments){%>
        <%if(session.user || quiz.Comments[index].publicado) {%>
            <p>-<%= quiz.Comments[index].texto %></p>
                <%if(session.user && !quiz.Comments[index].publicado){%>
                    <a href="/quizes/<%=quiz.id%>/comments/<%=quiz.Comments[index].id%>/publish"><button><i>Publicar</i></button></a>
                <%}%>
        <%}%>
    <%}%>
</body>
</html>